h1{
   color: white;
    text-align: center;
}

p{
    color: white;
}

table{
    border: 5px solid burlywood;
    border-collapse: collapse;
    margin: 0 auto;
}

td,th{
  color: white;
    border: 1px dotted rosybrown;
    padding: 7px;
    margin: 0;
    text-align: center;
    background-color: green;
}

th{
  background-color: olivedrab;
  color: mintcream;
}


nav li{
    background-color: lightgreen;
    margin-left: 7px;
    margin-right: 7px;
    padding: 7px;  
    border-radius: 5px;
    border: 2px solid black;
    display:inline;
  }
  
  nav a{
      color: white;
      text-decoration: none;
  }
  
  nav li:hover{
      background-color: greenyellow;
  }
  
  nav a:hover{
      color: greenyellow;
      font-weight: bold;
  }

  h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }

  li{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

    p{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

  body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }   

  @media only screen and (max-width: 400px){
    #atv{
        display: none;
    }
  }

  .kitler{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }